.breadcrumbs {
	background: #fafafa;
	padding: $spacer / 2 0;
	color: $text-muted;
	font-size: 0.875rem;
	box-shadow: inset 0 -1px 3px -2px rgba(0, 0, 0, 0.23);
}

.breadcrumbs__list {
	display: flex;
	align-items: center;
   list-style: none;
   padding: 0;
	margin: 0;
}

.breadcrumbs__item  {
	display: inherit;
	align-items: inherit;

	& + &::before {
		content: '/';
		opacity: 0.3;
		margin-left: $spacer / 2;
		margin-right: $spacer / 2;
	}
}

.breadcrumbs__link {
	display: block;
}