{{ range .Pages }}
	<article class="article">
		<div class="row">
			<div class="col-3">
				<a class="article-image" href="{{ .Permalink }}" style="background-image: url('/blogas/{{ .Params.teaser_image }}')">
					<time datetime="{{ .Date.Format "2006-01-02"}}">
						<span class="day">{{ .Date.Format "02"}}</span>
						{{ index $.Site.Data.lt_months_short (printf "%d" .Date.Month) }}
					</time>
				</a>
			</div>
			<div class="col">
				<h3 class="h5 text-uppercase mb-1"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
				{{ partial "article-tags" . }}

				<p class="text-muted d-flex align-items-center my-2 small">
					{{ partial "fontawesome" (dict "icon" "solid/clock" "class" "mr-2") }}
					{{ .Date.Format "2006-01-02 15:04"}}
				</p>

				
				<p>{{ .Description }}</p>

					<a class="btn btn-primary" href="{{ .Permalink }}">Skaityti</a><br/>

			</div>
		</div>
		
	</article>
{{ end }}