{{ define "main" }}
{{ partial "breadcrumbs" . }}

<section class="content-section ">
	<article class="container container-sm">

		<h2 class="section-title">
			{{ .Title }}
		</h2>

		<div class="article-image mb-3">
			<img src="/blogas/{{ .Params.teaser_image }}" alt="{{ .Title }}">
			<time datetime="{{ .Date.Format "2006-01-02"}}">
				<span class="day">{{ .Date.Format "02"}}</span>
				{{ index $.Site.Data.lt_months_short (printf "%d" .Date.Month) }}
			</time>
		</div>

		<main>
			<div class="article-content">
				{{ .Content }}
				
				{{ if .Params.useful_links }}
				<br />
					<h4>Naudingos nuorodos</h4>
				   {{ range .Params.useful_links }}
					 <a href="{{ . }}" target="_blank">{{ . }}</a><br/>
				   {{ end }}
				{{ end }}
			</div><br/>

			{{ partial "article-tags" . }}

			{{ partial "article-comments" . }}
		</main>
	</article>

</section>
{{ partial "blog-related" . }}

{{ end }}