{{ range .Pages }}
	<article class="article">
		<div class="row">
			<div class="col-3">
				<a class="article-image" href="{{ .Permalink }}" style="background-image: url('/blogas/{{ .Params.teaser_image }}')">
					<time datetime="{{ .Date.Format "2006-01-02"}}">
						<span class="day">{{ .Date.Format "02"}}</span>
						{{ .Date.Format "Jan"}}
					</time>
				</a>
			</div>
			<div class="col">
				<h3 class="h5 text-uppercase"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
				<p class="text-muted d-flex align-items-center mb-2">
					{{ partial "fontawesome" (dict "icon" "solid/clock" "class" "mr-1") }}
					{{ .Date.Format "2006-01-02 15:04"}}
				</p>
				{{ if .Params.tags }}
					<div class="my-2">
						{{ range .Params.tags }}
							<a href="/blogas?kategorija={{ . }}" class="article-tag">
								{{ . }}
							</a>
						{{ end }}

					</div>
				{{ end }}
				<p>{{ .Description }}</p>

					<a class="btn btn-primary" href="{{ .Permalink }}">Daugiau</a><br/>

			</div>
		</div>
		
	</article>
{{ end }}