<section class="content-section text-center">
  <div class="container">
    <h2 class="section-title">Turi klausimų ar idėjų?</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum ipsum, placeat magnam quaerat mollitia harum totam impedit quia. Animi, suscipit. Possimus vero enim expedita recusandae exercitationem incidunt ducimus at laudantium.
    </p>
    <article>
      <a href="mailto:{{.email}}">{{ partial "fontawesome" (dict "icon" "envelope-open-text" "class" "mr-2") }}{{ .email }}</a>
    </article>
  </div>
</section>
